/* HRYSCT WORLDWIDE MMXIV */

@font-face
{
    font-family:'haymaker';
    src: url("../fonts/haymaker.ttf");
}

@font-face
{
    font-family:'montserrat';
    src: url("../fonts/montserrat.ttf");
}

body
{
    background-color: #eee;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.logocontainer
{
    width: 100%;
    text-align: center;
}
.logo
{
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 150px;
    line-height: 160px;
    border-radius: 50%;
    background-color: #fff;
    font-family: 'haymaker';
    font-size: 90px;
    color: #4e4e4e;
}

.bodybox
{
    background-color: #fff;
}

.navbar
{
    text-align: center;
    word-spacing: 20px;
    font-family: 'montserrat';
    letter-spacing: 2px;
}

/* current selected page link */

a.navcurrent:link
{
    text-decoration: none;
    color: #4e4e4e;
}

a.navcurrent:visited
{
    text-decoration: none;
    color: #4e4e4e;
}

a.navcurrent:hover
{
    text-decoration: none;
    color: #cccccc;
}

a.navcurrent:active
{
    text-decoration: none;
    color: #cccccc;
}

/* non selected links */

a.nav:link
{
    text-decoration: none;
    color: #9a9a9a;
}

a.nav:visited
{
    text-decoration: none;
    color: #9a9a9a;
}

a.nav:hover
{
    text-decoration: none;
    color: #cccccc;
}

a.nav:active
{
    text-decoration: none;
    color: #cccccc;
}
