@font-face
{
    font-family:"glashou";
    src:url("../fonts/glashou.ttf");  
}

@font-face
{
    font-family:"cicle";
    src:url("../fonts/cicle.ttf");
}

@font-face
{
    font-family:"sofia";
    src:url("../fonts/sofia.otf");
}

#header
{
    position:relative;
    text-align:center;
    margin-top:auto;
    margin-left:auto;
    margin-bottom:auto;
    margin-right:auto;
}

#header-image
{
    width:100%;
    height:auto;
    position:absolute;
    top:0;
    left:0;
}

#header-logo
{
    position:absolute;
}


a.header-logo:link
{
    font-family:"glashou";
    font-size:60px;
    text-decoration:none;
    text-align:center;
    color:#ffffff;
    border:5px solid #000000;
    padding:15px;
}

a.header-logo:visited
{
    font-family:"glashou";
    font-size:60px;
    text-decoration:none;
    color:#000000;
    border:5px solid #000000;
    padding:15px;
}

a.header-logo:hover
{
    font-family:"glashou";
    font-size:60px;
    text-decoration:none;
    color:#ffffff;
    border:5px solid #000000;
    padding:15px;
    background-color:#000000;
   
}

a.header-logo:active
{
    font-family:"glashou";
    font-size:60px;
    text-decoration:none;
    color:#000000;
    border:5px solid #000000;
    padding:15px;
}