@font-face
{
    font-family:"boxcutter";
    src: url("../fonts/boxcutter.ttf");
}

h1
{
    font-family:"boxcutter";
    text-align:center;
    font-size:80px;
    padding:20px;
}

p
{
    font-family:"boxcutter";
    font-size:40px;
    text-align:center;
}

